@font-face {
    font-family: More Sugar;
    src: url("../fonts/MoreSugar-Regular.ttf");
}

@font-face {
    font-family: Averia;
    src: url("../fonts/AveriaSerifLibre-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: Averia;
    background-color: #fffaf0;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*
  Hero Section styling
*/
.hero {
    min-height: 95vh;
    text-align: left;
    color: black;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
}

.hero-links {
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.hero-links svg {
    width: 28px;
    height: 28px;
}

.hero h3 {
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 14px;
}

.hero p {
    max-width: 700px;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.hero-button {
    border: orange solid 2px;
    color: black;
    padding: 8px 15px;
    border-radius: 100px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.hero-button:hover {
    background-color: #fcba2c;
}

.hero-image img {
    width: 600px;
    /* max-width: 600px; */
    height: auto;
    animation: float 5s infinite ease-in-out;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/*
  What's New Recipe Cards Section
*/

.features {
    padding: 100px 10%;
    background-color: #ffffff;
    text-align: center;
}

.features-header h1 {
    font-size: 30px !important;
    padding-bottom: 8px !important;
}

.features-header p {
    width: 100%;
    margin: auto;
    color: #4e4e4e;
    font-size: 15px !important;
    padding-bottom: 50px;
}

.features-header p {
    max-width: 500px !important;
    margin: auto;
    color: #4e4e4e;
    font-size: 18px;
}

.features swiper-container {
    width: 100%;
    height: 100%;
}

.features swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features swiper-slide img {
    display: block;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.features swiper-slide h1 {
    font-size: 18px;
    padding: 10px 0;
}

.features swiper-slide p {
    margin: auto;
    color: #4e4e4e;
    width: 300px;
    font-size: 12px;
}

.features swiper-slide button {
    color: black;
    width: 300px;
    height: 50px;
    background-color: transparent;
    border: orange solid 2px;

    border-radius: 10px;
    margin: 10px 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.features swiper-slide button:hover {
    border-color: black;
    background-color: orange;
}

.features h2 {
    font-size: 48px;
    margin-bottom: 40px;
    color: #333;
}

/* .features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.feature-card {
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.feature-card:hover {
    transform: translateY(-10px);
}

.feature-card img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feature-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.feature-card p {
    font-size: 16px;
    color: #666;
}

.see-more-container {
    margin-top: 20px;
    text-align: right;
}

.see-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.see-more-button:hover {
    background-color: #ff4500;
} */

/* 
  Recent blog styling
*/

.testimonials {
    padding: 100px 10% 200px 10%;
    background-color: #ffffff;
    text-align: center;
}

.testimonials-header h1 {
    font-size: 30px;
}

.testimonials-header p {
    font-size: 15px;
    width: 100%;
    padding-bottom: 50px;
    color: #4e4e4e;
    margin: auto;
}

.testimonials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.testimonials-container > div {
    width: 350px;
    /* height: 300px; */
    padding: 20px;
    background-color: #fffaf0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.testimonials-container > div .profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    border: 2px solid orange;
    object-fit: cover;
}

.testimonials-container > div h1 {
    font-size: 18px;
    color: #4e4e4e;
}

.testimonials-container > div p {
    font-size: 18px;
}

/* SHOWCASE */
.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 100px 10%;
    gap: 50px;
    margin: auto;
}

.showcase .left {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    gap: 5px;
    max-width: 70%;
    margin: auto;
}

.showcase-item {
    width: 180px;
    height: 400px;
    position: relative;
    color: white;
}

.showcase-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showcase-info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    /* height: 100%; */
    bottom: 0;
    background-color: rgba(4, 4, 4, 0.5);
    color: white;
}

.showcase-info h1 {
    color: orange;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /* Add this line */
    font-size: medium;
}

.showcase-info p {
    font-size: smaller;
    display: none;
    transition: opacity 0.3s ease;
    text-align: center;
}

.showcase-info:hover p {
    display: block;
    opacity: 1;
}
.showcase .right {
    margin: auto;
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    gap: 20px;
}

.showcase .right h1 {
    font-size: 38px;
    padding-bottom: 8px;
    text-align: right;
}

.showcase .right p {
    text-align: right;
}

.showcase .right a {
    text-decoration: none;
    color: black;
    width: 200px;
    height: 50px;
    border: orange solid 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* BLOGS (deprecated) */

.recent-blogs {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: transparent;
}

.recent-blogs h2 {
    font-size: 48px;
    margin-bottom: 40px;
    color: #333;
}

.blogs-container {
    display: flex;
    gap: 20px;
}

.big-card,
.small-cards {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

.big-card {
    flex: 2;
}

.small-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.big-card img,
.small-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.big-card h3,
.small-card h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.big-card p,
.small-card p {
    font-size: 16px;
    color: #666;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    color: #ff6347;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

/*
  Animations and Media Queries Styling  
*/
@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 992px) {
    .hero {
        padding: 0 30px;
    }

    .hero h3 {
        font-size: 24px;
    }

    .hero p {
        font-size: 14px;
    }

    .hero-button {
        font-size: 16px;
        padding: 8px 12px;
    }

    .hero-image img {
        max-width: 600px;
    }

    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .events-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .hero-image img {
        width: 400px;
        height: 400px;
        animation: float 5s infinite ease-in-out;
    }
}

@media (max-width: 768px) {
    .hero-content {
        text-align: center;
    }

    .hero-links {
        justify-content: center;
    }

    .hero-image {
        display: none;
    }

    .hero {
        padding: 0 20px;
    }

    .hero h3 {
        font-size: 22px;
    }

    .hero p {
        font-size: 14px;
    }

    .hero-button {
        font-size: 14px;
        padding: 6px 10px;
    }

    .hero-image img {
        max-width: 500px;
    }

    .features-grid {
        grid-template-columns: 1fr;
    }

    .see-more-container {
        text-align: center;
    }
    .food-events {
        margin: 0 20px;
    }
    .swiper-pagination {
        bottom: 30px;
    }

    .swiper-slide {
        float: none;
        margin: 0 auto;
        max-width: 300px;
    }

    .blogs-container {
        flex-direction: column;
    }

    .big-card,
    .small-cards {
        width: 100%;
    }


    .showcase-item {
        display: none;
    }

    .showcase .right {
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .showcase .right h1 {
        font-size: 38px;
        padding-bottom: 8px;
        text-align: center;
    }

    .showcase .right p {
        text-align: center;
    }
    .showcase .left {
        display: none;
    }

    .testimonials-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .hero {
        padding: 0 10px;
    }

    .hero h3 {
        font-size: 20px;
    }

    .hero p {
        font-size: 12px;
    }

    .hero-button {
        font-size: 12px;
        padding: 6px 8px;
    }

    .testimonials-container {
        display: flex;
        flex-direction: column;
    }

    .hero-image img {
        max-width: 250px;
    }

    .features-header p {
        width: 100%;
    }

    .showcase-item {
        display: none;
    }

    .showcase .right {
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .showcase .right h1 {
        font-size: 38px;
        padding-bottom: 8px;
        text-align: center;
    }

    .showcase .right p {
        text-align: center;
    }
    .showcase .left {
        display: none;
    }

}
