@font-face {
    font-family: More Sugar;
    src: url("../fonts/MoreSugar-Regular.ttf");
}

@font-face {
    font-family: Averia;
    src: url("../fonts/AveriaSerifLibre-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: Averia;
    background-color: #fffaf0;
    margin: 0;
    padding: 0;
}

/*
  Hero Section styling
*/
.hero {
    height: 95vh;
    text-align: left;
    color: #333;
    padding: 0 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.hero-content {
    /* margin-top: 50px;
    margin-left: 35px;
    padding: 20px;
    border-radius: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.hero-links {
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.hero-links svg {
    width: 28px;
    height: 28px;
}

.hero h3 {
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 14px;
}

.hero p {
    max-width: 700px;
    font-size: 16px;
    margin-bottom: 40px;
    text-align: center;
}

.hero-button {
    border: black solid 2px;
    color: black;
    /* background-color: black; */
    /* color: white; */
    padding: 8px 15px;
    border-radius: 100px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.hero-button:hover {
    background-color: #ff4500;
}

.hero-image img {
    width: 600px;
    height: 600px;
    animation: float 5s infinite ease-in-out;
}

.hero-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    padding: 0;
}

/* .hero-image img {
    width: 600px;
    height: 600px;
    animation: float 5s infinite ease-in-out;
}

.hero-image-1 {
    position: absolute;
    bottom: 0;
    top: 200px;
    right: -350px;
    width: 700px !important;
    height: 700px !important;
}

.hero-image-2 {
    position: absolute;
    right: 150px;
    top: 400px;
    bottom: -80px;
    bottom: 0;
} */
/*
  What's New Recipe Cards Section
*/

.features {
    padding: 50px 20px;
    margin: 0 20px 0 20px;
    background-color: transparent;
    text-align: center;
}

.features h2 {
    font-size: 48px;
    margin-bottom: 40px;
    color: #333;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.feature-card {
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    padding: 20px;
    text-align: center;
}

.feature-card:hover {
    transform: translateY(-10px);
}

.feature-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feature-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.feature-card p {
    font-size: 16px;
    color: #666;
}

.see-more-container {
    margin-top: 20px;
    text-align: right;
}

.see-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.see-more-button:hover {
    background-color: #ff4500;
}

/* Food Events Section */

.food-events {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: transparent;
    text-align: center;
}

.food-events h2 {
    font-size: 48px;
    margin-bottom: 40px;
    color: #333;
}

.swiper-container {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-wrapper {
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex: 0 0 auto;
    margin-right: 20px;
    width: 300px;
}

.swiper-slide img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.swiper-pagination {
    margin-top: 20px;
    text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

/* 
  Recent blog styling
*/

.recent-blogs {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: transparent;
}

.recent-blogs h2 {
    font-size: 48px;
    margin-bottom: 40px;
    color: #333;
}

.blogs-container {
    display: flex;
    gap: 20px;
}

.big-card,
.small-cards {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

.big-card {
    flex: 2;
}

.small-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.big-card img,
.small-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.big-card h3,
.small-card h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.big-card p,
.small-card p {
    font-size: 16px;
    color: #666;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    color: #ff6347;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}


/*
  Animations and Media Queries Styling  
*/
@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 1024px) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .events-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .hero-image img {
        width: 400px;
        height: 400px;
        animation: float 5s infinite ease-in-out;
    }
}

@media (max-width: 768px) {

    .hero-content {
        text-align: center;
    }

    .hero-links {
        justify-content: center;
    }

    .hero-image {
        display: none;
    }

    .features-grid {
        grid-template-columns: 1fr;
    }

    .see-more-container {
        text-align: center;
    }
    .food-events {
        margin: 0 20px;
    }
    .swiper-pagination {
        bottom: 30px;
    }

    .swiper-slide {
        float: none;
        margin: 0 auto;
        max-width: 300px;
    }

    .blogs-container {
        flex-direction: column;
    }

    .big-card,
    .small-cards {
        width: 100%;
    }
}
