<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Longsilog Recipe</title>
    <link rel="stylesheet" href="../../styles/food.css">
</head>
<body>
    <img class="recipe-image" src="../../images/food/almusal.jpg" alt="Adobo">
    <h1 class="recipe-title">Longsilog</h1>
    <div class="recipe-info">
        <h2>Information</h2>
        <p>Filipino Longsilog is a popular breakfast meal in the Philippines, featuring longganisa (Filipino sausage), sinangag (garlic fried rice), and itlog (fried egg). It is a delicious and satisfying dish that combines sweet and savory flavors, perfect for starting the day or any mealtime.</p>
    </div>
    <div class="recipe-ingredients">
        <h2>Ingredients</h2>
        <ul>
            <li>4 pieces Filipino longganisa</li>
            <li>Leftover white rice</li>
            <li>4 cloves garlic, minced</li>
            <li>4 eggs</li>
            <li>Salt and pepper to taste</li>
            <li>Vegetable oil for frying</li>
            <li>Vinegar (optional, for dipping)</li>
        </ul>
    </div>
    <div class="recipe-instructions">
        <h2>Instructions</h2>
        <ol>
            <li>
                <strong>Cook the Longganisa:</strong>
                <ul>
                    <li>In a skillet, cook the longganisa according to package instructions until they are browned and cooked through. Set aside.</li>
                </ul>
            </li>
            <li>
                <strong>Prepare the Sinangag:</strong>
                <ul>
                    <li>In the same skillet, heat some oil over medium heat. Add the minced garlic and cook until golden brown and fragrant.</li>
                    <li>Add the leftover rice to the skillet. Stir-fry the rice with the garlic, breaking up any clumps, until the rice is heated through and slightly toasted. Season with salt and pepper to taste.</li>
                </ul>
            </li>
            <li>
                <strong>Fry the Eggs:</strong>
                <ul>
                    <li> In another skillet, fry the eggs sunny-side-up or according to your preference.</li>
                </ul>
            </li>
            <li>
                <strong>Assemble the Longsilog:</strong>
                <ul>
                    <li>Arrange the cooked longganisa, sinangag, and fried eggs on a plate.</li>
                    <li> Serve the Longsilog hot, with vinegar on the side for dipping the longganisa. Enjoy this classic Filipino breakfast meal that's bursting with flavor!</li>
                </ul>
            </li>
        </ol>
    </div>
</body>
</html>

